# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# Build files
dist/
build/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 